.customers-container {
  padding: var(--spacing-md);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-md);

  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
  }

  button {
    mat-icon {
      margin-right: 4px;
    }
  }
}

:host-context(.mobile) .page-header {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);

  button {
    width: 100%;
  }
}
