.permissions {
  h1 {
    margin: 0 0 var(--spacing-xl) 0;
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-light);
  }

  .placeholder {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    padding: var(--spacing-3xl) var(--spacing-lg) var(--spacing-lg);
    font-size: var(--font-size-md);
    margin: 0;
  }

  .info {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    padding: 0 var(--spacing-lg) var(--spacing-3xl);
    font-size: var(--font-size-sm);
    margin: 0;
  }
}
