<div class="empty-state flex-col items-center justify-center" [class]="stateClass() + ' ' + size()">
  <mat-icon class="state-icon">{{ icon() }}</mat-icon>
  <h2>{{ title() }}</h2>
  @if (message()) {
    <p>{{ message() }}</p>
  }
  @if (actionLabel()) {
    <button 
      mat-raised-button 
      [color]="actionColor()"
      (click)="action.emit()">
      @if (actionIcon()) {
        <mat-icon>{{ actionIcon() }}</mat-icon>
      }
      {{ actionLabel() }}
    </button>
  }
  <ng-content></ng-content>
</div>
