.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.admin-container {
  flex: 1;
  height: calc(100vh - 64px); // Subtract TopBar height
  overflow: hidden;
}

.admin-sidenav {
  width: 260px;
  border-right: var(--spacing-1px) solid var(--color-black-12);
}

mat-nav-list {
  padding-top: var(--spacing-xxs);

  a {
    cursor: pointer;

    &.active {
      background-color: color-mix(in srgb, var(--app-primary) 10%, transparent);

      mat-icon {
        color: var(--app-primary);
      }
    }

    &:hover {
      background-color: var(--color-black-04);
    }
  }
}

.admin-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  padding: var(--spacing-xl);
  flex: 1;
  overflow: auto;
}
