<div class="product-filters">
  <div class="filters-row">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search products</mat-label>
      <input
        matInput
        type="text"
        [formControl]="searchControl"
        placeholder="Search by name..."
      />
      <button
        mat-icon-button
        matSuffix
        *ngIf="searchControl.value"
        (click)="clearSearch()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="category-field">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="categoryControl">
        <mat-option [value]="undefined">All Categories</mat-option>
        <mat-option *ngFor="let category of categories()" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-stroked-button
      (click)="resetFilters()"
      class="reset-button"
    >
      <mat-icon>refresh</mat-icon>
      Reset
    </button>
  </div>
</div>
