.user-menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
}

.user-button {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.user-name {
  margin: 0 var(--spacing-xs);
}

/* ============================================
 * Responsive Styles
 * ============================================ */

/* Mobile Styles */
:host-context(.mobile) .user-name {
  display: none;
}
