.user-name {
  margin: 0 var(--spacing-xs);
}

/* ============================================
 * Responsive Styles
 * ============================================ */

/* Mobile Styles */
:host-context(.mobile) .user-name {
  display: none;
}
