:host {
  display: block;
}

.product-table {
  table {
    width: 100%;
  }

  .product-image {
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
    object-fit: cover;
    border-radius: var(--border-radius-sm);
    border: var(--spacing-1px) solid var(--color-border);
  }

  .product-name {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);

    strong {
      font-weight: var(--font-weight-semibold);
    }

    .product-id {
      font-size: var(--font-size-xs);
      color: var(--text-secondary);
    }
  }

  .badge-danger {
    background-color: var(--app-error);
    color: var(--text-on-error);
  }

  .badge-warning {
    background-color: var(--app-warning);
    color: var(--text-on-warning);
  }

  .badge-success {
    background-color: var(--app-success);
    color: var(--text-on-success);
  }
}
