<div class="filter-container">
  <div class="filter-actions">
    <button
      *ngFor="let filterAction of actions()"
      mat-icon-button
      [disabled]="isActionDisabled(filterAction)"
      (click)="onActionClick(filterAction.id)"
      [attr.aria-label]="filterAction.ariaLabel"
      [matTooltip]="filterAction.tooltip || ''"
      class="action-button"
    >
      <mat-icon [class.loading]="isLoading()">
        {{ filterAction.icon }}
      </mat-icon>
    </button>
  </div>

  <div class="filter-fields">
    <ng-content></ng-content>
  </div>
</div>
