<div class="order-item">
  @if (item().product) {
    <div class="item-image-container">
      @if (item().product!.imageUrls && item().product!.imageUrls.length > 0) {
        <img [src]="item().product!.imageUrls[0]" [alt]="item().product!.name" class="item-image" />
      } @else {
        <div class="item-image-placeholder">No Image</div>
      }
    </div>

    <div class="item-details">
      <div class="item-info">
        <h4 class="item-name">{{ item().product!.name }}</h4>
        <p class="item-description">{{ item().product!.description }}</p>
      </div>

      <div class="item-pricing">
        <div class="quantity">
          <span class="label">Quantity:</span>
          <span class="value">{{ item().quantity }}</span>
        </div>
        <div class="price">
          <span class="label">Price:</span>
          <span class="value">{{ item().price | currency }}</span>
        </div>
        <div class="subtotal">
          <span class="label">Subtotal:</span>
          <span class="value">{{ subtotal | currency }}</span>
        </div>
      </div>
    </div>
  } @else {
    <div class="item-loading">Loading product...</div>
  }
</div>
