:host {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;

  ::ng-deep {
    app-hero-section,
    app-features-section,
    app-use-cases-section,
    app-contact-section,
    app-faq-section {
      scroll-margin-top: 84px; // 64px top bar + 20px padding
    }
  }
}
